.centeredbox {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.sqr {
    height: 200px;
    width: 200px;
    background-color: rgb(222, 222, 222);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.pulse{
    height: 204px;
    width: 204px;
    background-color: rgb(222, 222, 222);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -102px;
    margin-left: -102px;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}
.ui.mini.active.inverted.loader {
    position: fixed;
    top: 71%;
    left: 50%;
}