body {

  background-color: rgb(22, 22, 22);
  height:100%;
  width:100%;
  
  }

#menubar {
  display: flex;
  position: fixed;
  top: 28%;
  height: 100vh;
  z-index: 2;
}

#importbtn {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#saveOrRemoveBtn {
  position: fixed;
  right: 3px;
  bottom: 3px;
  z-index: 1;
}

#image {
  display: flex;
  position: fixed;
  /* height: 85vh; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#image img {
  margin: 0 auto;
  max-width: 75vw;
  max-height: 75vh;
  height: auto !important;
  width: auto !important;
}

#header img {
  max-height: 7vh;
}

#header {
  padding-top: 2vh;
}

#tempimg {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

#slider {
  display: flex;
  position: fixed;
  top: 43%;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
  z-index: 1;
}

.example {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example2 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.canvas {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}