.ui.yellow.button {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -75px;
}
.ui.vertical.icon.menu {
    position: fixed;
    top: 50%;
    margin-top: -260px;
}